
/*Configurações básicas*/

@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;700&display=swap');

:root{
    --background: #000000;
    --red: #C20000;
    --gradient: inear-gradient(180deg, #000000 0%, rgba(83, 83, 83, 0.577381) 25%, rgba(196, 196, 196, 0) 87.5%);
    --font: 'Titallium Web' , sans-serif;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
}

body{
    font-family: var(--font);
    background-color: var(--background);
}

img{
    width:100%;
}

.flex-center-bt{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/*Configurações básicas*/

.topo{
    width: 100%;
    height: 5em; /* 1em = 16px || 5em = 80px */
}

.content{
    max-width: 75em; /*75em = 1173px*/
    width: 86%;
    height: 100%;
    margin: 0 auto;

}

.topo img{
    max-width: 20.18em; /*21.18em = 339px*/
    height: 33px;
}

.menu ul{
    display: flex;
    list-style: none;
    margin-top: 2px;
}

.menu a{
    text-decoration: none;
    color: rgb(139, 139, 139);
    text-transform: uppercase;
    font-size: 16px;
    padding: 1.8em 15px;
}

.menu a:hover{
    color: white;
    transition: 0.5s ease;
    background-color: #C20000;
}

#menu-bars{
    display: none;
}

.banner{
    width: 100%;
}

.banner img{
    height: 570px;
}

.banner-position{
    width: 40%;
    height: 600px;
    position: absolute;
    top: 22%;
    left: 61%;
}

.banner-text{
    width: 100%;
    height: 400px;
    color: white;
    display: flex;
    flex-direction: column;
}

.banner-text h1{
    padding-left: 100px;
    font-size: 56px;
    font-family: var(--font);
    letter-spacing: 2px;
}

.banner-text p{
    text-align: left;
    font-size: 34px;
    margin-top: 10px;
    margin-bottom: 60px;
}

.banner-text a{
    width: 220px;
    text-decoration: none;
    color: white;
    background-color: red;
    font-size: 30px;
    padding: 0.5em 1em;
    margin-left: 170px;
    border-radius: 15px;
}

/*DESIGN RESPONSIVO*/

@media screen and (max-width: 74.93em){
    
}

@media screen and (max-width: 47.93em){

}

@media screen and (max-width: 35.93em){
    
}