
/*Configurações básicas*/

@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;700&display=swap');

:root{
    --background: #000000;
    --red: #C20000;
    --gradient: inear-gradient(180deg, #000000 0%, rgba(83, 83, 83, 0.577381) 25%, rgba(196, 196, 196, 0) 87.5%);
    --font: 'Titallium Web' , sans-serif;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
}

body{
    font-family: var(--font);
    background-color: var(--background);
}

img{
    width:100%;
}

.flex-center-bt{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/*Configurações básicas*/

.topo{
    width: 100%;
    height: 5em; /* 1em = 16px || 5em = 80px */
}

.content{
    max-width: 75em; /*75em = 1173px*/
    width: 80%;
    height: 100%;
    margin: 0 auto;
}

.topo img{
    max-width: 21.18em; /*21.18em = 339px*/
    height: 35px;
}

.menu{
    max-width: 10em;
    width: 80%;
    margin: 0 auto;
}

.menu ul{
    display: flex;
    list-style: none;
    margin-top: 2px;
}

.menu a{
    text-decoration: none;
    color: whitesmoke;
    text-transform: uppercase;
    font-size: 1.1em;
    padding: 1.4em 1em;
}

.menu a:hover{
    background-color: var(--red);
}

#menu-bars{
    display: none;
}

/*Responsividade*/

@media screen and (max-width: 74.93em){
    
}

@media screen and (max-width: 47.93em){

}

@media screen and (max-width: 35.93em){
    
}